.navbar-brand {
  font-weight: bold;
}

.container-fluid {
  width: 81%;
}

.nav-link{
  font-weight: bold;
  color: #b5aea9;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #46408c;
}
