.btn-add {
  color: #333333;
  border: none;
  border-radius: 0.75rem;
  background-color: #f1f1f1;;
}

.btn-add:hover,
.btn-add:active,
.btn-add:visited,
.btn-add:focus {
  background-color: #1e73be !important;
  border-radius: 0.75rem !important;
  color: white;
}
