<div class="container-fluid books-container">
  <div class="row mt-5">
    <div class="col-6">
      <h1>The Book List</h1>
    </div>
    <div class="col-6  d-flex justify-content-end">
      <button type="button" class="btn btn-add btn-primary mb-2 pl-5 pr-5 pt-0 pb-0" (click)="onAddPress(addModal)">
        &plus; Add Book
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs  mb-4 mt-3">
        <li class="nav-item">
          <a class="nav-link active pl-0" [ngClass]="{ 'active': selectedGenre === '' }" (click)="displayAllBooks()">All
            book</a>
        </li>
        <li class="nav-item" *ngFor="let genre of genres | keyvalue">
          <a class="nav-link" [ngClass]="{ 'active': selectedGenre === genre.key }"
             (click)="filterBooksByGenre(genre.key)">{{ genre.value }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div *ngFor="let book of filteredBooks" class="card d-inline-flex mt-2 mr-4" style="width: 18rem;">
        <a [routerLink]="['/books',book.bookId]">
          <img *ngIf="book.cover" class="card-img-top" src="{{'data:image/jpg;base64,' + book.cover}}"
               [alt]="book.title"/>
        </a>
        <div class="card-body">
          <a [routerLink]="['/books',book.bookId]">
            <h5 class="card-title">{{book.title}}</h5>
          </a>
          <p class="card-text">{{book.authors}}</p>
          <h5 class="card-text">
            <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
            </ng-template>
            <ngb-rating [(rate)]="book.ratingAverage" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
          </h5>
          <a class="btn btn-primary btn-add mt-2 mr-2 pr-4 pl-4" (click)="onEditPress(editModal, book)">Edit</a>
          <a class="btn btn-danger btn-delete mt-2" (click)="deleteBook(book.bookId)">Delete</a>
        </div>
      </div>
      <div *ngIf="filteredBooks.length === 0">
        <h4 class="mt-2">No books to display</h4>
      </div>
    </div>
  </div>
</div>

<ng-template #addModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add book</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(modal)">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form #bookForm="ngForm">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text"
               class="form-control"
               id="title"
               name="title"
               placeholder="Book Title"
               [(ngModel)]="bookRequest.title"
               #title="ngModel"
               [ngClass]="{ 'is-invalid': title.invalid && (title.dirty || title.touched) }"
               required
               minlength="4">

        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
          <div *ngIf="title.errors?.required">
            Title is required.
          </div>
          <div *ngIf="title.errors?.minlength">
            Title must be at least 4 characters long.
          </div>
        </div>

      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control"
                  id="description"
                  name="description"
                  rows="3"
                  [(ngModel)]="bookRequest.description"
                  #description="ngModel"
                  [ngClass]="{ 'is-invalid': description.invalid && (description.dirty || description.touched) }"
                  required
                  minlength="10"></textarea>

        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
          <div *ngIf="description.errors?.required">
            Description is required.
          </div>
          <div *ngIf="description.errors?.minlength">
            Description must be at least 10 characters long.
          </div>
        </div>

      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col d-flex justify-content-between align-items-center mb-2">
            <label class="form-label">Authors</label>
            <button type="button" class="btn btn-primary" (click)="addInput(bookRequest.authors)">
              Add Author
            </button>
          </div>
        </div>
        <div class="row" *ngFor="let author of bookRequest.authors; let i = index;trackBy:trackByIndex">
          <div class="col-10">
            <input type="text"
                   class="form-control mb-1"
                   [id]="'author'+i"
                   [name]="'author'+i"
                   [placeholder]="'Authors '+ (i+1)"
                   [(ngModel)]="bookRequest.authors[i]"
                   required>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-danger" (click)="removeInput(bookRequest.authors,i)" [disabled]="bookRequest.authors.length === 1">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col d-flex justify-content-between align-items-center mb-2">
            <label class="form-label">Genres</label>
            <button type="button" class="btn btn-primary"
                    (click)="addInput(bookRequest.genres)">
              Add Genres
            </button>
          </div>
        </div>
        <div class="row" *ngFor="let genresInput of bookRequest.genres; let i = index;trackBy:trackByIndex">
          <div class="col-10">
            <select class="form-control mb-1"
                    [id]="'genresInput'+i"
                    [name]="'genresInput'+i"
                    [(ngModel)]="bookRequest.genres[i]"
                    required>
              <option value="" disabled selected>Select your option</option>
              <ng-container *ngFor="let genre of genres | keyvalue">
                <option [ngValue]="genre.key">{{ genre.value }}</option>
              </ng-container>
            </select>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-danger" (click)="removeInput(bookRequest.genres,i)" [disabled]="bookRequest.genres.length === 1">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col">
            <label class="form-label">Cover</label>
            <div class="custom-file">
              <input type="file"
                     class="custom-file-input"
                     id="cover"
                     name="cover"
                     (change)="onFileSelected($event)"
                     required>
              <label class="custom-file-label" for="cover">Choose file</label>
            </div>
            <small>{{ selectedImage || "No file uploaded yet." }}</small>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pl-5 pr-5 btn-danger" (click)="closeModal(modal)">Close</button>
    <button type="button" class="btn pl-5 pr-5  btn-primary" (click)="addBook(modal)" [disabled]="!bookForm.valid || !this.cover">Add</button>
  </div>
</ng-template>

<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-edit-title">Edit book</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(modal)">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form #bookForm="ngForm">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text"
               class="form-control"
               id="edit-title"
               name="edit-title"
               placeholder="Book Title"
               [(ngModel)]="bookRequest.title"
               #title="ngModel"
               [ngClass]="{ 'is-invalid': title.invalid && (title.dirty || title.touched) }"
               required
               minlength="4">

        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
          <div *ngIf="title.errors?.required">
            Title is required.
          </div>
          <div *ngIf="title.errors?.minlength">
            Title must be at least 4 characters long.
          </div>
        </div>

      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control"
                  id="edit-description"
                  name="edit-description"
                  rows="3"
                  [(ngModel)]="bookRequest.description"
                  #description="ngModel"
                  [ngClass]="{ 'is-invalid': description.invalid && (description.dirty || description.touched) }"
                  required
                  minlength="10"></textarea>

        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
          <div *ngIf="description.errors?.required">
            Description is required.
          </div>
          <div *ngIf="description.errors?.minlength">
            Description must be at least 10 characters long.
          </div>
        </div>

      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col d-flex justify-content-between align-items-center mb-2">
            <label class="form-label">Authors</label>
            <button type="button" class="btn btn-primary" (click)="addInput(bookRequest.authors)">
              Add Author
            </button>
          </div>
        </div>
        <div class="row" *ngFor="let author of bookRequest.authors; let i = index;trackBy:trackByIndex">
          <div class="col-10">
            <input type="text"
                   class="form-control mb-1"
                   [id]="'edit-author'+i"
                   [name]="'edit-author'+i"
                   [placeholder]="'Authors '+ (i+1)"
                   [(ngModel)]="bookRequest.authors[i]"
                   required>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-danger" (click)="removeInput(bookRequest.authors,i)" [disabled]="bookRequest.authors.length === 1">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col d-flex justify-content-between align-items-center mb-2">
            <label class="form-label">Genres</label>
            <button type="button" class="btn btn-primary"
                    (click)="addInput(bookRequest.genres)">
              Add Genres
            </button>
          </div>
        </div>
        <div class="row" *ngFor="let genresInput of bookRequest.genres; let i = index;trackBy:trackByIndex">
          <div class="col-10">
            <select class="form-control mb-1"
                    [id]="'edit-genresInput'+i"
                    [name]="'edit-genresInput'+i"
                    [(ngModel)]="bookRequest.genres[i]"
                    required>
              <option value="" disabled selected>Select your option</option>
              <ng-container *ngFor="let genre of genres | keyvalue">
                <option [ngValue]="genre.key">{{ genre.value }}</option>
              </ng-container>
            </select>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-danger" (click)="removeInput(bookRequest.genres,i)" [disabled]="bookRequest.genres.length === 1">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col">
            <label class="form-label">Cover</label>
            <div class="custom-file">
              <input type="file"
                     class="custom-file-input"
                     id="edit-cover"
                     name="edit-cover"
                     (change)="onFileSelected($event)"
                     required>
              <label class="custom-file-label" for="cover">Choose file</label>
            </div>
            <small>{{ selectedImage || "No file uploaded yet." }}</small>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal(modal)">Close</button>
    <button type="button" class="btn  btn-primary" (click)="updateBook(modal)" [disabled]="!bookForm.valid">Edit</button>
  </div>
</ng-template>
