.container-fluid {
  width: 80%;
  margin-top: 3%;
}


.books-container {
  margin-bottom: 3rem;
}

.star {
  position: relative;
  display: inline-block;
  color: #d3d3d3;
  font-size: 22px;
}

.full {
  color: #FFD700;
  font-size: 22px;

}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #FFD700;
  font-size:22px;
}

.card {
  border: none;
}

.card-img-top {
  border-radius: 1rem;
}

.card-img-top:hover {
  transform: scale(1.01);
}

.card-body {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #474747;
}

a:hover, a:focus {
  text-decoration: none;
  color: black;
}

.card-text {
  color: #A8A7A7;
  font-size: 16px;
  margin-bottom: 0;
}

.card-title {
  margin-bottom: .20rem;
  font-size: x-large;
}

.btn-add{
  color: #333333;
  border: none;
  border-radius: 1rem;
  background-color: #f1f1f1;;
}

.btn-add:hover,
.btn-add:active,
.btn-add:visited,
.tbtn-add:focus {
  background-color: #1e73be !important;
  border-radius: 1rem;
  color: white;
}
