.container-fluid {
  width: 80%;
  margin-top: 3%;
}


.books-container {
  margin-bottom: 3rem;
}

.card {
  border: none;

  .card-img-top {
    border-radius: 1rem;
    width: 280px;
    height: 420px;

    &:hover {
      transform: scale(1.01);
    }
  }

  .card-body {
    padding-left: 0;

    .card-title {
      margin-bottom: .20rem;
      font-size: x-large;
    }

    .card-text {
      color: #A8A7A7;
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}

.star {
  position: relative;
  display: inline-block;
  color: #d3d3d3;
  font-size: 22px;
}

.full {
  color: #FFD700;
  font-size: 22px;

}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #FFD700;
  font-size:22px;
}

a {
  text-decoration: none;
  color: #474747;
}

a:hover, a:focus {
  text-decoration: none;
  color: black;
}

.btn-add{
  color: #333333;
  border: none;
  border-radius: 1rem;
  background-color: #f1f1f1;;
}

.btn-add:hover,
.btn-add:active,
.btn-add:visited,
.tbtn-add:focus {
  background-color: #1e73be !important;
  border-radius: 1rem;
  color: white;
}

.btn-delete{
  color: #333333;
  border: none;
  border-radius: 1rem;
  background-color: #f1f1f1;;
}

.btn-delete:hover,
.btn-delete:active,
.btn-delete:visited,
.tbtn-delete:focus {
  background-color: #f50114 !important;
  border-radius: 1rem;
  color: white;
}

.modal-header{
  border: none;
}

.modal-footer{
  border: none;
}

input {
  border-radius: 1rem;
  background-color: #F1F1F1;
  border: 0;
}


textarea {
  border-radius: 1rem;
  background-color: #F1F1F1;
  border: 0;
}

select{
  border-radius: 1rem;
  background-color: #F1F1F1;
  border: 0;
}

.custom-file-label{
  border-radius: 1rem;
  background-color: #F1F1F1;
  border: 0;
}

.btn-primary{
  border-radius: 2rem;
}

.btn-danger{
  border-radius: 2rem;
}

.btn-secondary{
  border-radius: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-link{
  border: none;
  font-weight: bold;
  color: #b5aea9;
}

.nav-link.active{
  color: black;
}

.nav-tabs{
 border: none;
}

