<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Book Details</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a [routerLink]="['/books']" style="font-size: 40px"><i class="fas fa-chevron-circle-left"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top"
             src="https://images-na.ssl-images-amazon.com/images/I/418eG69n1rL._SX258_BO1,204,203,200_.jpg"
             alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <p class="card-text">{{book.description}}</p>
          <a class="btn btn-danger" (click)="deleteBook(book.bookId)">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <button type="button" class="btn btn-primary mb-2" (click)="triggerModal(modalData)">
        Add Rating
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Ratings</h3>

      <div *ngIf="ratings.length>0">
        <div *ngFor="let rating of ratings" class="card mb-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ rating.title }}</h5>
            <p class="card-text">{{ rating.message }}</p>
            <ngb-rating class="rating-stars" id="starsFormControlTextarea" [rate]="rating.stars"
                        [readonly]="true"></ngb-rating>
            <p class="card-text">Posted by {{ rating.userName }} on {{ rating.date | date:'M/d/yy, h:mm a' }}</p>
            <a class="btn btn-danger" (click)="deleteRating(rating.ratingId)">Delete</a>
          </div>
        </div>
      </div>

      <p *ngIf="ratings.length==0">No ratings added yet</p>
    </div>
  </div>
</div>

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Rating</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(modal)">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label for="titleFormControlInput" class="form-label">Title</label>
      <input type="text" class="form-control" id="titleFormControlInput" placeholder="Rating Title"
             [(ngModel)]="ratingRequest.title">
    </div>
    <div class="mb-3">
      <label for="descriptionFormControlTextarea" class="form-label">Message</label>
      <textarea class="form-control" id="descriptionFormControlTextarea" rows="3"
                [(ngModel)]="ratingRequest.message"></textarea>
    </div>
    <div class="mb-3">
      <label for="starsFormControlTextarea" class="form-label">Rating</label>
      <br>
      <ngb-rating class="rating-stars" id="starsFormControlTextarea" [(ngModel)]="ratingRequest.stars"></ngb-rating>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal(modal)">Close</button>
    <button type="button" class="btn btn-primary" (click)="addRating(modal)">Add</button>
  </div>
</ng-template>
