<div class="container-fluid" [ngClass]="accountNeeded ? 'sign-up-container' : 'sign-in-container'">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12">
      <div>
        <h1>Login Page</h1>
        <p>Please login into your account, or create an account.</p>
      </div>

      <form #loginForm="ngForm" [ngClass]="{'was-validated': formWasSubmitted}">
        <div *ngIf="accountNeeded" class="mb-2">
          <label for="firstname" class="form-label">Firstname</label>
          <input type="firstname"
                 class="form-control"
                 id="firstname"
                 name="firstname"
                 placeholder="John"
                 [(ngModel)]="accountRequest.firstName"
                 #firstName="ngModel"
                 [ngClass]="{ 'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched) }"
                 required
                 minlength="3">
        </div>

        <div *ngIf="accountNeeded" class="mb-2">
          <label for="lastname" class="form-label">Lastname</label>
          <input type="lastname"
                 class="form-control"
                 id="lastname"
                 name="lastname"
                 placeholder="Doe"
                 [(ngModel)]="accountRequest.lastName"
                 #lastName="ngModel"
                 [ngClass]="{ 'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched) }"
                 required
                 minlength="3">
        </div>

        <div *ngIf="accountNeeded" class="mb-2">
          <label for="email" class="form-label">Email</label>
          <input type="email"
                 class="form-control"
                 id="email"
                 name="email"
                 placeholder="placeholder@mail.com"
                 [(ngModel)]="accountRequest.email"
                 email="true"
                 #email="ngModel"
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                 [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }"
                 required>
        </div>

        <div class="mb-2">
          <label for="username" class="form-label">Username</label>
          <input type="text"
                 class="form-control"
                 id="username"
                 name="username"
                 placeholder="papushikatha01"
                 [(ngModel)]="accountRequest.userName"
                 #username="ngModel"
                 [ngClass]="{ 'is-invalid': username.invalid && (username.dirty || username.touched) }"
                 required
                 minlength="5">
        </div>

        <div>
          <label for="password" class="form-label">Password</label>
          <input [type]="showPassword? 'text' : 'password' "
                 class="form-control password-form"
                 id="password"
                 name="password"
                 placeholder="password"
                 [(ngModel)]="accountRequest.password"
                 #password="ngModel"
                 [ngClass]="{ 'is-invalid': password.invalid && (password.dirty || password.touched) }"
                 required
                 minlength="5">

          <a class="anchor-tag toggle-eye" (click)="togglePasswordVisibility()">
            <i *ngIf="!showPassword" class="fa-solid fa-eye"></i>
            <i *ngIf="showPassword" class="fa-solid fa-eye-slash"></i>
          </a>
        </div>
      </form>

      <div class="row mt-1 text-center" *ngIf="errorMessage">
        <div class="col">
          <p class="text-danger">{{ errorMessage }}</p>
        </div>
      </div>

      <div class="row mt-2" *ngIf="accountNeeded">
        <div class="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="roleAsWriter">
            <label class="form-check-label" for="flexCheckDefault">
              Writer account
            </label>
          </div>
        </div>
      </div>

      <div class="text-center mt-2">
        <button (click)="createAccount(loginForm.valid)" *ngIf="accountNeeded" type="button" class="btn btn-add btn-primary">
          Create account
        </button>

        <button (click)="onLogin(loginForm.valid)" *ngIf="!accountNeeded" type="button" class="btn btn-add btn-primary">
          Login
        </button>
      </div>


      <div class="text-center mt-2">
        <p *ngIf="!accountNeeded">Need an account? <a (click)="signUp()">Sign up</a></p>
        <p *ngIf="accountNeeded">Already have an account? <a (click)="signIn()">Sign in</a></p>
      </div>
    </div>
  </div>
</div>
