<div class="container-fluid books-container">
  <div class="row thumbnail">
    <div class="col-4 text-col">
      <h1 class="thumbnail-title">Build your library</h1>
      <h5 class="pt-1 thumbnail-subtitle">Select your favorite books and add<br/>
        them to your readlist</h5>
      <button type="button" class="btn btn-primary mt-2 pl-4 pr-4 thumbnail-button" [routerLink]="['/books']">
        View all
      </button>
    </div>

    <div class="col-6 p-5">
      <img class="img-fluid" src="/assets/images/people.png" alt="people">
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5 pl-0 h3-home">
      <h3>Best Rated</h3>
    </div>
  </div>

  <div *ngIf="showSpinner" class="d-flex mt-5 pt-5 justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5 pl-0 d-flex justify-content-between">
      <div *ngFor="let book of books" class="card d-inline-flex mt-2 mr-4" style="width: 18rem;">
        <a [routerLink]="['/books',book.bookId]">
          <img *ngIf="book.cover" class="card-img-top" src="{{'data:image/jpg;base64,' + book.cover}}" [alt]="book.title"/>
        </a>
        <div class="card-body">
          <a [routerLink]="['/books',book.bookId]">
            <h5 class="card-title">{{book.title}}</h5>
          </a>
          <p class="card-text">{{book.authors}}</p>
          <h5 class="card-text">
            <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
            </ng-template>
            <ngb-rating [(rate)]="book.ratingAverage" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
