.card {
  .card-img-top {
    width: 230px;
    height: 340px;
  }
}

.thumbnail {
  background-color: #f3e7dd;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.text-col {
  margin-top: 5%;
  margin-left: 8%;
}

.thumbnail-title {
  color: #46408c;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 3px;
}

.thumbnail-subtitle {
  color: #b5aea9;
  font-size: 20px;
  line-height: 1.5;
}

.thumbnail-button {
  background-color: #c2a792 !important;
  border-color: #c2a792 !important;
  border-radius: 0.5rem;
  font-size: 18px;
}

.thumbnail-button:hover,
.thumbnail-button:active,
.thumbnail-button:visited,
.thumbnail-button:focus {
  background-color: #c29979 !important;
  border-color: #c29979 !important;
  border-radius: 0.5rem;
  font-size: 18px;
}
