<div class="container-fluid">
  <div class="row thumbnail">
    <div class="col-4 text-col">
      <h1 class="thumbnail-title">Build your library</h1>
      <h5 class="pt-1 thumbnail-subtitle" >Buy two selected books and get<br/>
        one for free</h5>
      <button type="button" class="btn btn-primary mt-2 pl-4 pr-4 thumbnail-button">View all</button>
    </div>
    <div class="col-6 p-5">
     <img class="img-fluid" src="https://i.ibb.co/z8kCV9R/people.png" alt="people" >
    </div>
  </div>
</div>
