<div class="container-fluid books-container">
  <h1>Account Settings</h1>
  <p>Current role: {{ this.user.role | titlecase }}</p>

  <ul>
    <li><a class="anchor-tag pointer-cursor" (click)="onEditProfile(profileModal)">Edit profile</a></li>
    <li><a class="anchor-tag pointer-cursor" (click)="onChangePassword(passwordModal)">Change password</a></li>
    <li><a class="anchor-tag pointer-cursor" (click)="onDeleteAccount(deleteModal)">Delete account</a></li>
  </ul>
</div>

<ng-template #profileModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-profile-title">Edit profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(modal)">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form #profileForm="ngForm">
      <div class="mb-3">
        <label for="firstname" class="form-label">Firstname</label>
        <input type="firstname"
               class="form-control"
               id="firstname"
               name="firstname"
               placeholder="John"
               [(ngModel)]="accountRequest.firstName"
               #firstName="ngModel"
               [ngClass]="{ 'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched) }"
               required
               minlength="3">
      </div>

      <div class="mb-3">
        <label for="lastname" class="form-label">Lastname</label>
        <input type="lastname"
               class="form-control"
               id="lastname"
               name="lastname"
               placeholder="Doe"
               [(ngModel)]="accountRequest.lastName"
               #lastName="ngModel"
               [ngClass]="{ 'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched) }"
               required
               minlength="3">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               placeholder="placeholder@mail.com"
               [(ngModel)]="accountRequest.email"
               email="true"
               #email="ngModel"
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
               [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }"
               required>
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text"
               class="form-control"
               id="username"
               name="username"
               placeholder="papushikatha01"
               [(ngModel)]="accountRequest.userName"
               #username="ngModel"
               [ngClass]="{ 'is-invalid': username.invalid && (username.dirty || username.touched) }"
               required
               minlength="5">
      </div>

      <div class="mb-3" *ngIf="user && user.role !== userRoles.ADMIN">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="roleAsWriter"
                 [(ngModel)]="roleAsWriter">
          <label class="form-check-label" for="flexCheckDefault">
            Writer account
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pl-5 pr-5 btn-danger" (click)="closeModal(modal)">Close</button>
    <button type="button"
            class="btn pl-5 pr-5 btn-primary btn-add-modal"
            (click)="editProfile(modal)"
            [disabled]="!profileForm.valid">
      Edit
    </button>
  </div>
</ng-template>

<ng-template #passwordModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-password-title">Change password</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(modal)">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form #passwordForm="ngForm">
      <div class="mb-3">
        <div>
          <label for="password" class="form-label">Password</label>
          <input [type]="showPassword? 'text' : 'password' "
                 class="form-control password-form"
                 id="password"
                 name="password"
                 placeholder="password"
                 [(ngModel)]="newPassword"
                 #password="ngModel"
                 [ngClass]="{ 'is-invalid': password.invalid && (password.dirty || password.touched) }"
                 required
                 minlength="5">

          <a class="anchor-tag pointer-cursor toggle-eye" (click)="togglePasswordVisibility()">
            <i *ngIf="!showPassword" class="fa-solid fa-eye"></i>
            <i *ngIf="showPassword" class="fa-solid fa-eye-slash"></i>
          </a>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pl-5 pr-5 btn-danger" (click)="closeModal(modal)">Close</button>
    <button type="button"
            class="btn pl-5 pr-5 btn-primary btn-add-modal"
            (click)="changePassword(modal)"
            [disabled]="!passwordForm.valid">
      Change
    </button>
  </div>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete account</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(modal)">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form>

      <div>
        Are you sure you want to delete this account?
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pl-5 pr-5 btn-danger" (click)="closeModal(modal)">Close</button>
    <button type="button"
            class="btn pl-5 pr-5 btn-primary btn-add-modal"
            (click)="deleteAccount(modal)">
      Delete
    </button>
  </div>
</ng-template>
